@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

#home {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imagenes/img.jpg);
}

@keyframes bgGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#home div {
    background: linear-gradient(90deg, rgba(84, 0, 10, 0.178) 1%, rgba(1, 0, 46, 0.103) 52%, rgba(0, 132, 255, 0.034) 100%);
    background-size: cover;
    background-position: center center;
    background-size: 400% 300%;
    animation: bgGradient 5s ease infinite;
    
}

#home div .contenido header {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;

}

#home div .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

#home div .contenido header .contenido-header h1 {
    font-family: "Montserrat", sans-serif;
    color: #ff5080;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
}

#home div .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
}


#home div .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: 0.5s;
}

#home div .contenido header .contenido-header nav ul li a:hover {
    color: #ff5080;
}

#home div .contenido header .contenido-header nav ul li .selected {
    color: #ff5080;
}

#home div .contenido header .contenido-header nav ul li .selected:hover {
    color: #fff;

}

#home div .contenido header .contenido-header .redes-sociales a {
    color: #fff;
    margin-left: 10px;

}

#home div .contenido header .contenido-header .redes-sociales a:hover {
    color: #ff5080;
    transition: 0.5s;
}

#home div .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;

}

#home div .contenido .presentacion .bienvenida {
    font-size: 40px;
    margin-top: 120px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#home div .contenido .presentacion h2 {
    font-size: 40px;
    text-align: center;
    max-width: 700px;
    margin: 50px auto;
}

#home div .contenido .presentacion h2 span {
    color: #ff5080;
    max-width: 700px;
    font-size: 40px;
    text-align: center;
    margin: 50px auto;
}

#home div .contenido .presentacion .descripcion {   
    text-align: center;
    margin: 30px 100px;
    font-size: 20px
}

#home div .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 60px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
}

#home div .contenido .presentacion a:hover {
    background-color: #ff5080;
}

/* Secction About me */
#aboutMe {
    max-width: 1100px;
    margin: auto;
    padding: 60px 15px;
    color: #111135;
    display: flex;
    height: 100vh;
}

#aboutMe .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
}

#aboutMe .contenedor-foto img {
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;
}

#aboutMe .aboutMe {
    margin: 10px 40px;
}

#aboutMe .aboutMe .title {
    font-size: 30px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    padding: 30px 0;

}

#aboutMe .aboutMe h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#aboutMe .aboutMe h2 span {
    color: #ff5080;
}

#aboutMe .aboutMe h3 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#aboutMe .aboutMe p {
    font-size: 18px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}

#aboutMe .aboutMe a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: 0.5s;
}

#aboutMe .aboutMe a:hover {
    background-color: #ff5080;
    color: #fff;
}

#service {
    background-image: linear-gradient(rgba(104, 30, 241, 0.13), rgba(235, 110, 110, 0.5)), url("./imagenes/OIP.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    height: 100vh;

}

#service .title {
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 40px;
    color: #272733;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    text-align: center;

}

#service .fila {
    display: flex;
    max-width: 100vw;
    justify-content: center;
    margin-top: 15px;

}

#service .fila .service {

    max-width: 420px;
    background-color: #fff;
    padding: 20px 0;
    margin: 5px 20px;
    border-radius: 5px;
    transition: 0.5s;
}

#service .fila .service:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#service .fila .service h4 {
    font-size: 22px;
    margin-bottom: 25px;
}

#service .fila .service .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}

#service .fila .service hr {
    width: 30px;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}

#service .fila .service .tagService {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

#service .fila .service p {
    font-size: 17px;
    line-height: 25px;
    padding: 10px 30px;
    margin: auto;
}

.skillsContainer {
    background-image: linear-gradient(rgba(35, 60, 245, 0.577), rgba(218, 26, 26, 0.303)), url("./imagenes/home2.jpg");
    background-size: cover;
    height: 100vh;
    margin: auto;
}

.skillsContainer .container {
    background: linear-gradient(90deg, rgba(141, 27, 40, 0.422) 1%, rgba(1, 0, 46, 0.458) 52%, rgba(0, 132, 255, 0.254) 100%);
    background-size: cover;
    background-position: center center;
    background-size: 400% 300%;
    animation: bgGradient 5s ease infinite;
    max-width: 100%;
    padding-bottom: 2em;
    height: 100vh;
    width: 100vw;
}

.skillsContainer .container h3 {
    font-size: 30px;
    text-align: center;
    padding-top: 80px;
}

.skillsContainer .skill {
    max-width: 600px;
    margin: 20px auto;
}

.skillsContainer .container .skill .info {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}

.skillsContainer .container .skill .lista {
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}

.skillsContainer .container .skill .barra {
    background-color: #919191;
    width: 100%;
    height: 6px;
    margin: 10px 0;
}

/* Este estilo se aplicara luego mediante javascript para lograr la animacion de la barra*/
.skillsContainer .container .skill .barra .barra-progreso1 {
    background-color: #ff5080;
    width: 90%;
    height: 6px;
    animation: progreso1 45s forwards;
}

.skillsContainer .container .skill .barra .barra-progreso2 {
    background-color: #ff5080;
    width: 90%;
    height: 6px;
    animation: progreso2 45s forwards;
}

.skillsContainer .container .skill .barra .barra-progreso3 {
    background-color: #ff5080;
    width: 80%;
    height: 6px;
    animation: progreso3 45s forwards;
}

.skillsContainer .container .skill .barra .barra-progreso4 {
    background-color: #ff5080;
    width: 20%;
    height: 6px;
    animation: progreso4 45s forwards;
}

.skillsContainer .container .skill .barra .barra-progreso5 {
    background-color: #ff5080;
    width: 20%;
    height: 6px;
    animation: progreso5 45s forwards;
}

.skillsContainer .container .skill .barra .barra-progreso6 {
    background-color: #ff5080;
    width: 80%;
    height: 6px;
    animation: progreso6 45s forwards;
}

/*animaciones de las barras*/
@keyframes progreso1 {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes progreso2 {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes progreso3 {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes progreso4 {
    0% {
        width: 0;
    }

    100% {
        width: 20%;
    }
}

@keyframes progreso5 {
    0% {
        width: 0;
    }

    100% {
        width: 20%;
    }
}

@keyframes progreso6 {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

/* porfolio section */
#portfolio {
    background-image: linear-gradient(rgba(104, 30, 241, 0.13), rgba(235, 110, 110, 0.5)), url("./imagenes/OIP.jpg");
    background-size: cover;
    padding: 100px 0;
    margin: auto;
}

#portfolio .title {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

#portfolio .fila {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 3em;
}

#portfolio .fila .proyect {
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

#portfolio .fila .proyect img {
    width: 100%;
    height: 100%;
    filter: grayscale(0.5);
    object-fit: cover;
    transition: 0.5s;
}

#portfolio .fila .proyect .overLay {
    width: 100%;
    height: 100%;
}

#portfolio .fila .proyect:hover img {
    filter: grayscale(0);
}

#portfolio .fila .proyect .info {
    font-size: 20px;
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ff5080;
    width: 100%;
    padding: 2px;
    opacity: 0;
    bottom: -40px;
    transition: 0.5s;
}

#portfolio .fila .proyect:hover .info {
    opacity: 1;
    bottom: 0;
}

#contacs {
    padding: 80px 15px;
    background-image: linear-gradient(rgba(104, 30, 241, 0.13), rgba(235, 110, 110, 0.5)), url("./imagenes/OIP.jpg");
    background-size: cover;
}

#contacs .title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#contacs .form-Container {
    max-width: 1100px;
    margin: auto;
}

#contacs .form-Container .fila {
    margin-bottom: 15px;
}

#contacs .form-Container input,
#contacs .form-Container textarea {
    padding: 5px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

#contacs .form-Container .mitad input {
    width: 49%;
}

#contacs .form-Container .redes a{
    text-decoration: none;
    color: rgb(14, 14, 14);
    display: inline-block;
    padding-left: 25px;
    font-size: 26px;
    position: relative;
    top: -35px;
    left: 300px;
}
#contacs .form-Container .redes a:hover{
    background-color: #ff5080;
    color: #fff;
    padding-left: 1px;
    transition: 4s;
    }


#contacs .form-Container .input-full {
    width: 99%;
}

#contacs .btn-send {
    display: block;
    width: 120px;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
    font-size: 18px;
    font-weight: bold;
}

#contacs .btn-send:hover {
    background-color: #ff5080;
    color: #fff;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding-left: 20px;
    font-size: 26px;
}

footer a:hover {
    color: #ff5080;
}


/* responsive section*/
@media screen and (max-width: 800px) {
    nav {
        display: none;
    }

    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 48px;
        right: 0;
        padding: 5px 0;
    }

    #home div .contenido .presentacion .descripcion {   
        text-align: center;
        margin: 50px auto;
        font-size: 15px
    }
    

    #aboutMe{
        height: fit-content;
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #aboutMe .contenedor-foto {
        max-width: 100px;
        margin-right: 80px;
    }

    .contenido-header{
        display: flex;
    }

    nav.responsive ul {
        display: block !important;
        text-align: center;
    }

    nav.responsive ul li {
        margin: 5px 0;
    }

    #home .contenido .presentacion h2 {
        font-size: 40px;
    }

    #home div .contenido .presentacion a {
        display: none;
    }

    #aboutMe {
        padding: 5px 0;
        
    }

    #aboutMe .contenedor-foto {
        max-width: 350px;
        margin: 150px 0;
        
    }

    #aboutMe .contenedor-foto img {
        padding: 8px;
        align-self: center;
    }

    #aboutMe .aboutMe .title {
        text-align: center;
    }

    #aboutMe .aboutMe h2 {
        font-size: 25px;
        text-align: center;
    }

    #service {
        padding: 50px 15px;
        height: fit-content;
    }

    #service .fila {
        display: flex;
        flex-direction: column;
    }

    #service .fila .service {
        margin: 10px auto;
    }

    .skillsContainer {
        padding: 50px 20px;
    }

    #portfolio {
        padding: 50px 0;
    }

    #portfolio .fila {
        display: block;
    }

    #portfolio .fila .proyect {
        margin: 10px auto;
    }

    #contacs {
        padding: 50px 15px;
    }

    #contacs .form-Container .mitad {
        margin-bottom: 15px;
        display: block;
    }

    #contacs .form-Container .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }

}